<div class="cursor-style" fxLayout="row" fxLayoutAlign="center">
  <div class="img-place" fxLayout="row" fxLayoutAlign="center center">
    <img width=80 *ngIf="(unit.images[0] && unit.images[0].value)"
         src="data:image/jpg;base64,{{unit.images[0].value}}">
    <img width=80 *ngIf="!(unit.images[0])"
         src="assets/pics/unit_pic_spacer-600x400.png">
    <mat-spinner class="mat-accent" [diameter]="20"
                 *ngIf="(unit.images[0] && !unit.images[0].value)"></mat-spinner>
  </div>
 <div fxLayout="column">
   <div fxLayout="row" fxLayoutAlign="center center">
    {{unit.model}}
  </div>
  <div fxLayout="row" fxLayoutAlign="start center">
    Тип: {{unit.type}}
  </div></div>
</div>
<div fxLayout="row" fxLayoutAlign="center center" *ngIf="unit.workEnd">
  <mat-icon>access_time</mat-icon>
  <div class="prog-bar-back">
    <div [ngStyle]="{'width.%': progress, 'background-color': background, 'height.px': 3}">
    </div>
  </div>
  <div>&nbsp;{{period}}&nbsp;д</div>
</div>

