
<h1 mat-dialog-title="">У вас еще нет технопарка. Создайте его!</h1>
<div mat-dialog-content class="dialog-size">
  <form [formGroup] = "formGroup" class="form-group-size" (ngSubmit)="onSubmit()">
    <mat-form-field class="form-field-size">
      <input matInput placeholder="Название (необязательно)" formControlName="parkName">
    </mat-form-field>
    <mat-form-field class="form-field-size">
      <input matInput placeholder="Положение на карте" formControlName="location" required>
      <mat-icon matSuffix (click)="setMarker()">add_location</mat-icon>
      <mat-error *ngIf="submitted && formGroup.controls.location.hasError('required')">
        задайте положение на карте
      </mat-error>
    </mat-form-field>
  </form>
    <img width="150px" height="150px" align="middle"
         src="../../assets/pics/park_init.jpg" alt="Photo of a machins">
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onParkCreateCancel">Отмена</button>
  <button [disabled]="loading" mat-raised-button color="accent">Создать</button>
</div>
