<div id="reg_div">
  <div fxLayout="row" fxLayoutAlign="center center" fxFlex="100">
    <mat-card>
      <h2 class="text-center mat-h1">Регистрация</h2>
      <form [formGroup]="registerForm" class="example-form" (ngSubmit)="onSubmit()">

        <mat-form-field class="example-full-width">
          <input matInput placeholder="email" formControlName="login" required
                 (change)="checkName($event.target.value)">
          <mat-error *ngIf=" submitted && f.login.hasError('required')">
            введите email
          </mat-error>
          <mat-error *ngIf="(f.login.hasError('pattern'))">
            ввод некоректен
          </mat-error>
          <mat-error *ngIf="f.login.hasError('occupied') && !f.login.hasError('required')">
            email уже зарегестрирован
          </mat-error>
        </mat-form-field>

        <!--password-->
        <mat-form-field class="example-full-width">
          <input matInput placeholder="пароль" formControlName="password" required [type]="hide ? 'password' : 'text'">
          <mat-icon matSuffix (click)=" hide=!hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
          <mat-error *ngIf="submitted && f.password.hasError('required')">
            введите пароль
          </mat-error>
          <mat-error *ngIf="f.password.hasError('minlength')">
            не менее 8 знаков
          </mat-error>
          <mat-error *ngIf="f.password.hasError('pattern')&&!f.password.hasError('minlength')">
            как минимум 1 заглавная, 1 прописная и 1 цифра
          </mat-error>
        </mat-form-field>

        <!--name-->
        <mat-form-field class="example-full-width">
          <input matInput placeholder="имя" formControlName="firstName" required>
          <mat-error *ngIf="submitted && f.firstName.hasError('required')">
            введите свое имя
          </mat-error>
        </mat-form-field>

        <!--family-->
        <mat-form-field class="example-full-width">
          <input matInput placeholder="фамилия" formControlName="lastName" required>
          <mat-error *ngIf="submitted && f.lastName.hasError('required')">
            введите свою фамилию
          </mat-error>
        </mat-form-field>

        <div class="form-group">
          <button [disabled]="loading" mat-raised-button color="accent">Регистрация</button>
          <!--<img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />-->
          <a mat-button routerLink="/login">Отмена</a>
        </div>
      </form>
    </mat-card>
  </div>
</div>
