<mat-spinner class="mat-accent" [diameter]="40" *ngIf="unitsList.length == 0"></mat-spinner>
<div *ngIf="unitsList.length > 0">
  <h5 *ngIf="!data.editing" class="form-group-size">Новая единица техники</h5>
  <h5 *ngIf="data.editing" class="form-group-size">Редактирование единицы техники</h5>
  <mat-vertical-stepper [linear]="linear" #stepper [selectedIndex]="data?.stepNum">

    <!--Step One-->
    <mat-step label="Укажите тип" state="assignment" [stepControl]="selectForm">
      <form [formGroup]="selectForm" fxLayout="column" (ngSubmit)="onFirstStep()">
        <mat-form-field>
          <mat-select formControlName="typeCtrl" placeholder="Тип техники" required>
            <mat-option *ngFor="let type of unitsList" [value]="type.typename">
              {{type.typename}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="sf.typeCtrl.hasError('required')">
            выберите тип
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input type="text" matInput formControlName="brandCtrl"
                 [matAutocomplete]="brandAutocomplete" placeholder="Марка производителя"
                 oninput="this.value = this.value.toUpperCase()" required
                 (blur)="normalizeSpaces($event)">
          <mat-error *ngIf="sf.brandCtrl.hasError('pattern')">
            недопустимые символы
          </mat-error>
          <mat-error *ngIf="sf.brandCtrl.hasError('required')">
            введите марку производителя
          </mat-error>
          <mat-autocomplete #brandAutocomplete="matAutocomplete">
            <mat-option *ngFor="let brand of filteredBrands" [value]="brand">
              {{brand}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field>
          <input type="text" matInput formControlName="modelCtrl"
                 [matAutocomplete]="modelAutocomplete" placeholder="Модель"
                 oninput="this.value = this.value.toUpperCase()" required
                 (blur)="normalizeSpaces($event)">
          <mat-error *ngIf="sf.modelCtrl.hasError('pattern')">
            недопустимые символы
          </mat-error>
          <mat-error *ngIf="sf.modelCtrl.hasError('required')">
            введите модель
          </mat-error>
          <mat-autocomplete #modelAutocomplete="matAutocomplete">
            <mat-option *ngFor="let model of filteredModels" [value]="model">
              {{model}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <div fxLayout="row wrap" fxLayoutAlign="space-between center">
          <div>
            <button mat-raised-button="" (click)="onCancel()" tabindex="-1">Отмена</button>
          </div>
          <button mat-raised-button color="accent" matStepperNext
                  [disabled]="loading || selectForm?.invalid">Далее
          </button>
        </div>
      </form>
    </mat-step>

    <!--Step Two-->
    <mat-step label="Опишите технику подробнее" state="assignment"
              [stepControl]="optForm">
      <app-dynamic-form></app-dynamic-form>
      <div fxLayout="row wrap" fxLayoutAlign="space-between center">
        <div>
          <button mat-raised-button (click)="onCancel()" tabindex="-1"
                  [disabled]="loading">Отмена
          </button>
        </div>
        <div fxLayout="row" fxLayoutAlign="end">
          <button class="mr-3" mat-button matStepperPrevious [disabled]="loading">Назад</button>
          <button mat-raised-button color="accent" matStepperNext
                  (click)="onSecondStep()" [disabled]="loading || optForm?.invalid">Далее
          </button>
        </div>
      </div>
    </mat-step>

    <!--Step Three-->
    <mat-step label="Загрузите фото" state="photo">
      <div fxLayout="column" fxLayoutAlign="center center">
        <div fxLayout="column" fxLayoutAlign="center stretch">
          <mat-spinner class="mat-accent" [diameter]="40"
                       *ngIf="loading && galleryImages?.length == 0"></mat-spinner>
          <ngx-gallery [options]="galleryOptions" *ngIf="galleryImages.length > 0"
                       [images]="galleryImages"
          ></ngx-gallery>
          <div>
            <div fxLayout="row" fxLayoutAlign="start start">
              <button fxFlex="25" tabindex="-1"
                      type="button" class="search-button" matTooltip="Удалить"
                      matTooltipPosition="above" *ngIf="galleryImages[0]"
                      mat-icon-button (click)="deleteImage(0)">
                <mat-icon color="warn" aria-label="Delete image icon">clear</mat-icon>
              </button>
              <button fxFlex="25" tabindex="-1"
                      type="button" class="search-button" matTooltip="Удалить"
                      matTooltipPosition="above" *ngIf="galleryImages[1]"
                      mat-icon-button (click)="deleteImage(1)">
                <mat-icon color="warn" aria-label="Delete image icon">clear</mat-icon>
              </button>
              <button fxFlex="25" tabindex="-1"
                      type="button" class="search-button" matTooltip="Удалить"
                      matTooltipPosition="above" *ngIf="galleryImages[2]"
                      mat-icon-button (click)="deleteImage(2)">
                <mat-icon color="warn" aria-label="Delete image icon">clear</mat-icon>
              </button>
              <button fxFlex="25" tabindex="-1"
                      type="button" class="search-button" matTooltip="Удалить"
                      matTooltipPosition="above" *ngIf="galleryImages[3]"
                      mat-icon-button (click)="deleteImage(3)">
                <mat-icon color="warn" aria-label="Delete image icon">clear</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="input-group mb-3 mt-3">
        <div class="custom-file" *ngIf="galleryImages.length < 4">
          <input type="file" class="custom-file-input" accept="image/jpeg"
                 (change)="handleImages($event)" multiple id="inputGroupFile01">
          <label class="custom-file-label" for="inputGroupFile01">Открыть</label>
        </div>
      </div>
      <div fxLayout="row wrap" fxLayoutAlign="space-between center">
        <div>
          <button mat-raised-button="" (click)="onCancel()" tabindex="-1"
                  [disabled]="loading">Отмена
          </button>
        </div>
        <div fxLayout="row" fxLayoutAlign="end">
          <button class="mr-3" mat-button matStepperPrevious [disabled]="loading">Назад</button>
          <button mat-raised-button color="accent" matStepperNext [disabled]="loading">Далее
          </button>
        </div>
      </div>
    </mat-step>

    <!--Step Four-->
    <mat-step label="Обозначьте местоположение на карте" state="location"
              [stepControl]="workEndForm">
      <div class="m-3">
        <div fxLayout="row wrap" fxLayoutAlign="start center">
          <button class="m-3" mat-fab matTooltip="Указать на карте" tabindex="-1"
                  matTooltipPosition="above" aria-label="Toggle edit unit location"
                  (click)="onSetPoint()">
            <i class="material-icons">location_on</i>
          </button>
          <p class="m-3">{{(unitGeoCode?.results[0]?.name) + ', ' +
            (unitGeoCode?.results[1]?.name)+'\n'+
            (unitGeoCode?.results[unitGeoCode?.results.length-1]?.name)}}
          </p>
        </div>
        <p class="m-3" *ngIf="data.unit.location && data.unit.location === currentUser.location">
          Укажите на карте местоположение единицы техники, или пропустите этот шаг. В
          этом
          случае техника будет локализована в вашем парке.
        </p>
        <div fxLayout="row wrap" fxLayoutAlign="start center"
             *ngIf="data.unit.location && data.unit.location.geometry.coordinates[0]
              !== currentUser.location.geometry.coordinates[0]
               && data.unit.location.geometry.coordinates[1]
              !== currentUser.location.geometry.coordinates[1]">
          <button class="m-3" mat-fab matTooltip="Отогнать в гараж" tabindex="-1"
                  matTooltipPosition="above" aria-label="Toggle edit unit location to park"
                  (click)="onParkUnit()">
            <i class="material-icons">replay</i>
          </button>
          <p class="m-3">
            Отогнать технику в парк.
          </p>
        </div>
        <mat-form-field #datePickerField *ngIf="data.unit.location
        && data.unit.location.geometry.coordinates[0]
              !== currentUser.location.geometry.coordinates[0]
               && data.unit.location.geometry.coordinates[1]
              !== currentUser.location.geometry.coordinates[1]">
          <mat-label>Дата окончания работ</mat-label>
          <input matInput [matDatepicker]="workEndPicker" autocomplete="off"
                 [formControl]="workEndDateCtl" [min]="minDate" [max]="maxDate"
                 (dateChange)="setUnitWorkEndDate('change', $event)"
                 [required]="data.unit.location && data.unit.location.geometry.coordinates[0]
              !== currentUser.location.geometry.coordinates[0]
               && data.unit.location.geometry.coordinates[1]
              !== currentUser.location.geometry.coordinates[1]">
          <mat-datepicker-toggle matSuffix [for]="workEndPicker"></mat-datepicker-toggle>
          <mat-datepicker [touchUi]="isHandset$ | async" #workEndPicker></mat-datepicker>
          <mat-error *ngIf="workEndDateCtl.hasError('required')">
            укажите дату окончания работ
          </mat-error>
        </mat-form-field>
      </div>
      <div fxLayout="row wrap" fxLayoutAlign="space-between center">
        <div>
          <button mat-raised-button="" (click)="onCancel()" tabindex="-1" [disabled]="loading">Отмена
          </button>
        </div>
        <div fxLayout="row" fxLayoutAlign="end">
          <button class="mr-3" mat-button matStepperPrevious>Назад</button>
          <button mat-raised-button color="accent" matStepperNext
                  [disabled]="loading || (data.unit.location && data.unit.location.geometry.coordinates[0]
              !== currentUser.location.geometry.coordinates[0]
               && data.unit.location.geometry.coordinates[1]
              !== currentUser.location.geometry.coordinates[1] && workEndDateCtl?.invalid)" (click)="onFourth()">
            Сохранить
          </button>
        </div>
      </div>
    </mat-step>

    <!--step icons-->
    <ng-template matStepperIcon="edit">
      <mat-icon color="accent">edit</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="done">
      <mat-icon color="accent">done</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="assignment">
      <mat-icon color="accent">assignment</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="photo">
      <mat-icon color="accent">photo_camera</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="location">
      <mat-icon color="accent">location_on</mat-icon>
    </ng-template>

  </mat-vertical-stepper>
</div>
