<div *ngIf="optionsForm && selectExtraCtrl">
  <form [formGroup]="optionsForm" (ngSubmit)="onSecondStep()">
    <div *ngFor="let elem of unitOptions" fxLayout="row wrap" fxLayoutAlign="start center">
      <app-dynamic-form-question [question]="elem"
                                 [form]="optionsForm"></app-dynamic-form-question>
    </div>
    <app-dynamic-form-question [question]="selectExtraCtrl"
                               [form]="optionsForm"></app-dynamic-form-question>
  </form>
</div>
