<div class="mat-elevation-z6">
  <table class="units-list-in-sidebar" mat-table matSort [dataSource]="dataSource">

    <ng-container matColumnDef="model">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Модель</th>
      <td mat-cell *matCellDef="let unit" fxLayout="row" fxLayoutAlign="space-between center">
        <div fxFlex="20%">
          <img class="img-size" [src]="'data:image/jpg;base64,' + unit.images[0]?.value">
        </div>

        {{unit.model}}

        <button #editUnitkLocation
                type="button" matTooltip="местоположение на карте" tabindex="-1"
                matTooltipPosition="above" aria-label="Toggle edit unit location"
                mat-icon-button (click)="setUnitLocation()">
          <mat-icon aria-label="Edit toggle icon">location_on</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
<mat-paginator
[length]="dataSource.data.length"
[pageIndex]="0"
[pageSize]="5"
[pageSizeOptions]="[5, 10, 20, 50, 100]">
</mat-paginator>
<!--todo добавить колонку локации и исправить следование локации техники за базой-->
</div>
