<div class="leanerBack a-card">
  <div fxLayout="row" fxLayoutAlign="center none">
    <mat-card>
      <mat-card-content>
        <h1>Hi {{currentUser.firstName}}!</h1>
        <p>You're logged in with Angular 6!!!</p>
        <h3>All registered users:</h3>
        <ul>
          <li *ngFor="let user of users">
            {{user.username}} ({{user.firstName}} {{user.lastName}})
             - <a (click)="deleteUser(user.id)" class="text-danger">Delete</a>
          </li>
          <!--<li>{{u}}</li>-->
          <li>
            {{currentUser.id}}
            <br>{{currentUser.password}}
            <br>{{currentUser.username}}
            <br>{{currentUser.firstName}}
            <br>{{currentUser.lastName}}
            <br>{{currentUser.accountNonExpired}}
            <br>{{currentUser.accountNonLocked}}
            <br>{{currentUser.enabled}}
            <br>{{currentUser.roles}}
            <br>{{currentUser.credentialsNonExpired}}
            <br>{{currentUser.lastVisit}}
          </li>
        </ul>
      </mat-card-content>
    </mat-card>
  </div>
</div>
