<h1>Hi {{currentUser.firstName}}!</h1>
<p>You're logged in with Angular 6!!!</p>
<h3>All registered users:</h3>
<ul>
  <li *ngFor="let user of users">
    {{user.login}} ({{user.firstName}} {{user.lastName}})
    - <a (click)="deleteUser(user.id)" class="text-danger">Delete</a>
  </li>
  <li>{{u}}</li>
  <li>
    {{currentUser.id}}
    <br>{{currentUser.password}}
    <br>{{currentUser.login}}
    <br>{{currentUser.firstName}}
    <br>{{currentUser.lastName}}
    <br>{{currentUser.accountNonExpired}}
    <br>{{currentUser.accountNonLocked}}
    <br>{{currentUser.enabled}}
    <br>{{currentUser.roles}}
    <br>{{currentUser.credentialsNonExpired}}
    <br>{{currentUser.lastVisit}}
  </li>
</ul>
<p><a [routerLink]="['/login']">Logout</a></p>

