<div class="mat-elevation-z6" >
  <table class="filtered-users-list-in-sidebar" mat-table matSort [dataSource]="dataSource">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Модель</th>
      <td mat-cell *matCellDef="let user" fxLayout="row" fxLayoutAlign="space-between stretch">
        <div fxFlex="20%">
          <img class="filtered-img-size" *ngIf="user.image" [src]="'data:image/jpg;base64,' + user.image?.value">
          <img class="filtered-img-size" *ngIf="!user.image" src="assets/pics/buldozer_.jpg">
        </div>

        <div class="filtered-cursor-pointer" fxLayout="row" fxFlex fxLayoutAlign="start none"
             (click)="openUserInfoCardDialog(user)">
          <div fxLayout="column" fxLayoutAlign="center">{{user.name}}</div>
        </div>

        <div fxLayout="column" fxLayoutAlign="center center">
          <button type="button" matTooltip="Местоположение на карте" tabindex="-1"
                  matTooltipPosition="above" aria-label="Toggle edit user location"
                  mat-icon-button (click)="flyToUser(user)">
            <mat-icon aria-label="Edit toggle icon">gps_fixed</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator
    [length]="dataSource.data.length"
    [pageIndex]="0"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 20, 50, 100]">
  </mat-paginator>
</div>
