<div fxLayout="row wrap" *ngIf="form.controls[question.key]" [formGroup]="form">
  <div fxLayout="row" fxLayoutAlign="center center">
    <label>{{question.label + (question?.required?'*':'')}}</label>
  </div>
  <div class="mb-2" fxLayout="row" fxLayoutAlign="center center">
    <mat-form-field [ngClass]="{'opt_inp_num': question.controlType !== 'dropdown',
    'mr-2': true, 'ml-2': true, 'text_center': true}" fxFlex>
      <div [ngSwitch]="question.controlType">
        <input matInput *ngSwitchCase="'textbox'" [type]="question.type"
               [formControlName]="question.key" [id]="question.key">
        <input matInput *ngSwitchCase="'number'" [type]="question.type"
               [formControlName]="question.key" [id]="question.key">
        <mat-select [id]="question.key" *ngSwitchCase="'dropdown'" [formControlName]="question.key">
          <mat-option *ngFor="let opt of question.options" [value]="opt.key">{{opt.value}}</mat-option>
        </mat-select>
      </div>
      <mat-error *ngIf="form.controls[question.key].hasError('required')">
        заполните поле
      </mat-error>
      <mat-error *ngIf="form.controls[question.key] &&
    form.controls[question.key].hasError('pattern')">
        только цифры
      </mat-error>
      <mat-error *ngIf="form.controls[question.key] &&
    form.controls[question.key].hasError('maxlength')">
        слишком длинное значение
      </mat-error>
    </mat-form-field>
    <div fxLayout="column" fxLayoutAlign="center start">
      <label matSuffix class="mr-1" style="white-space: nowrap; min-width: 10px">
        {{question?.measure}}</label>
    </div>
  </div>
</div>
