<div fxLayout="column">
  <div>
    <h5 *ngIf="!data?.user?.id">Список моей техники</h5>
    <h5 *ngIf="data?.user?.id">Парк техники {{data.user.name}}</h5>
  </div>
  <mat-spinner class="mat-accent" [diameter]="40" *ngIf="!dataSource"></mat-spinner>
  <table class="table-main-list" mat-table matSort [dataSource]="dataSource">
    <ng-container matColumnDef="model">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Модель</th>
      <td mat-cell *matCellDef="let unit" fxLayout="row" fxLayoutAlign="space-between stretch">
        <div fxFlex="" fxLayout="row" class="img-size-main-list">
          <div fxFlex="">
            <ngx-gallery id="gallery"
                         [options]="galleryOptions" [images]="getSpacer(unit)"
            ></ngx-gallery>
          </div>
          <div fxFlex="100" fxLayout="column" fxLayoutAlign="center stretch"
               *ngIf="(unit.images[0] && !unit.images[0].value)">
            <mat-spinner class="mat-accent spnr" [diameter]="40"></mat-spinner>
          </div>
        </div>
        <!--model name-->
        <div class="cursor-pointer" fxLayout="row" fxFlex fxLayoutAlign="start none"
             (click)="openUnitInfoCardDialog(unit)">
          <div fxLayout="column" fxLayoutAlign="center">{{unit.model}}</div>
        </div>
        <!--not payed-->
        <div fxLayout="column" fxLayoutAlign="center" *ngIf="!unit.paid && !data?.user?.id">
          <button id="not_payed" type="button"
                  matTooltip="Не оплачен" tabindex="-1"
                  matTooltipPosition="above" aria-label="Оплатить технику"
                  mat-icon-button>
            <mat-icon>money_off</mat-icon>
          </button>
        </div>
        <!--payed-->
        <div fxLayout="column" fxLayoutAlign="center" *ngIf="unit.paid && !data?.user?.id">
          <button id="payed" type="button"
                  matTooltip="Оплачен" tabindex="-1"
                  matTooltipPosition="above" aria-label="Оплатить технику"
                  mat-icon-button [disabled]="true">
            <mat-icon>attach_money</mat-icon>
          </button>
        </div>
        <!--is visible-->
        <div fxLayout="column" fxLayoutAlign="center">
          <button id="vis1" type="button" *ngIf="!unit.enabled && !data?.user?.id"
                  matTooltip="Не виден арендаторам" tabindex="-1"
                  matTooltipPosition="above" aria-label="Toggle edit unit visibility"
                  mat-icon-button (click)="onToggleUnitVisiobility(unit)">
            <mat-icon aria-label="Visibility toggle icon">visibility_off</mat-icon>
          </button>
          <button id="vis2" type="button" *ngIf="unit.enabled && !data?.user?.id"
                  matTooltip="Виден арендаторам" tabindex="-1"
                  matTooltipPosition="above" aria-label="Toggle edit unit visibility"
                  mat-icon-button (click)="onToggleUnitVisiobility(unit)">
            <mat-icon aria-label="Visibility toggle icon">visibility</mat-icon>
          </button>
        </div>
        <!--location-->
        <div fxLayout="column" fxLayoutAlign="center">
          <button id="loc" type="button" matTooltip="показать на карте" tabindex="-1"
                  matTooltipPosition="above" aria-label="Toggle edit unit location"
                  mat-icon-button (click)="flyToUnit(unit)">
            <mat-icon aria-label="FlyToUnit toggle icon"
                      *ngIf="parkService.locationComparer(data.user, unit)">local_parking</mat-icon>
         <mat-icon aria-label="FlyToUnit toggle icon"
                      *ngIf="!parkService.locationComparer(data.user, unit)">gps_fixed</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef='let unitRowData; columns: columnsToDisplay'></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  <div fxFlexAlign="end">
    <button mat-raised-button="" (click)="onCancel()" tabindex="-1">Закрыть</button>
  </div>
</div>

