<div fxLayout="column">
  <div>
    <h5>Список моей техники</h5>
  </div>
  <mat-spinner class="mat-accent" [diameter]="40" *ngIf="!dataSource"></mat-spinner>
  <table class="table-main-list" mat-table matSort [dataSource]="dataSource">
    <ng-container matColumnDef="model">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Модель</th>
      <td mat-cell *matCellDef="let unit" fxLayout="row" fxLayoutAlign="space-between stretch">
        <ngx-gallery id="gallery" class="img-size-main-list"
                     [options]="galleryOptions" [images]="getSpacer(unit)"
        ></ngx-gallery>
        <!--model name-->
        <div class="cursor-pointer" fxLayout="row" fxFlex fxLayoutAlign="start none"
             (click)="openUnitInfoCardDialog(unit)">
          <div fxLayout="column" fxLayoutAlign="center">{{unit.model}}</div>
        </div>
        <!--is paid-->
        <div fxLayout="column" fxLayoutAlign="center">
          <svg class="ml-4" *ngIf="unit.paid" matTooltip="оплачен" tabindex="-1"
               matTooltipPosition="above" version="1.1" xmlns="http://www.w3.org/2000/svg"
               xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid meet" viewBox="0 0 4 5.52"
               width="12" height="16.56">
            <defs>
              <path
                d="M3.56 0.44L3.88 0.93L4 1.52L3.88 2.11L3.56 2.59L3.07 2.92L2.48 3.04L0.83 3.04L0.83 3.37L2.92 3.37L2.92 3.92L0.83 3.92L0.83 5.52L0.28 5.52L0.28 3.92L0 3.92L0 3.37L0.28 3.37L0.28 3.04L0 3.04L0 2.48L0.28 2.48L0.28 0L2.48 0L3.07 0.12L3.56 0.44ZM0.83 2.48L2.48 2.48L2.86 2.41L3.17 2.2L3.37 1.89L3.45 1.52L3.37 1.14L3.17 0.83L2.86 0.63L2.48 0.55L0.83 0.55L0.83 2.48Z"
                id="b5PXizI3A"></path>
            </defs>
            <g>
              <g>
                <g>
                  <use xlink:href="#b5PXizI3A" opacity="1" fill="#32cd32" fill-opacity="1"></use>
                </g>
              </g>
            </g>
          </svg>
          <svg class="ml-4" *ngIf="!unit.paid" matTooltip="не оплачен" tabindex="-1"
               matTooltipPosition="above" version="1.1" xmlns="http://www.w3.org/2000/svg"
               xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid meet" viewBox="0 0 4 5.52"
               width="12" height="16.56">
            <defs>
              <path
                d="M3.56 0.44L3.88 0.93L4 1.52L3.88 2.11L3.56 2.59L3.07 2.92L2.48 3.04L0.83 3.04L0.83 3.37L2.92 3.37L2.92 3.92L0.83 3.92L0.83 5.52L0.28 5.52L0.28 3.92L0 3.92L0 3.37L0.28 3.37L0.28 3.04L0 3.04L0 2.48L0.28 2.48L0.28 0L2.48 0L3.07 0.12L3.56 0.44ZM0.83 2.48L2.48 2.48L2.86 2.41L3.17 2.2L3.37 1.89L3.45 1.52L3.37 1.14L3.17 0.83L2.86 0.63L2.48 0.55L0.83 0.55L0.83 2.48Z"
                id="a1nJwFGeHN"></path>
            </defs>
            <g>
              <g>
                <g>
                  <use xlink:href="#a1nJwFGeHN" opacity="1" fill="#969696" fill-opacity="1"></use>
                </g>
              </g>
            </g>
          </svg>
        </div>
        <!--is visible-->
        <div fxLayout="column" fxLayoutAlign="center">
          <!--<svg class="ml-2" *ngIf="!unit.enabled" height="12" width="12"-->
               <!--matTooltip="не виден арендаторам" tabindex="-1" matTooltipPosition="above">-->
            <!--<circle cx="6" cy="6" r="6" fill="rgb(150,150,150)"></circle>-->
          <!--</svg>-->
          <!--<svg class="ml-2" *ngIf="unit.enabled" height="12" width="12"-->
               <!--matTooltip="виден арендаторам" tabindex="-1" matTooltipPosition="above">-->
            <!--<circle cx="6" cy="6" r="6" fill="rgb(50,205,50)"></circle>-->
          <!--</svg>-->
          <mat-icon class="ml-2" *ngIf="!unit.enabled"
                    matTooltip="не виден арендаторам" tabindex="-1"
                    matTooltipPosition="above">visibility_off
          </mat-icon>
          <mat-icon class="ml-2" *ngIf="unit.enabled"
                    matTooltip="виден арендаторам" tabindex="-1"
                    matTooltipPosition="above">visibility
          </mat-icon>
        </div>
        <!--location-->
        <div fxLayout="column" fxLayoutAlign="center">
          <button type="button" matTooltip="показать на карте" tabindex="-1"
                  matTooltipPosition="above" aria-label="Toggle edit unit location"
                  mat-icon-button (click)="flyToUnit(unit)">
            <mat-icon aria-label="Edit toggle icon">gps_fixed</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef='let unitRowData; columns: columnsToDisplay'></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  <div fxFlexAlign="end">
    <button mat-raised-button="" (click)="onCancel()" tabindex="-1">Закрыть</button>
  </div>
</div>

