.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
/*#loginContainer{*/
  /*display: flex;*/
  /*justify-content: center;*/
/*}*/
.login-card{
max-width: 95%;
}
#login_div{
  min-width: 100%;
  min-height: 100%;
  position: absolute;
}
