@import '../../../../node_modules/@angular/material/_theming';
@import "../../../theme";
@include mat-core();

.sidenav-container {
  height: 100%;
}
.start-sidenav {
  min-width: 300px;
  max-width: 400px;
  background-color: #fafafa;
}
.start-sidenav-phone {
  width: 100%;
  background-color: #fafafa;
}
.end-sidenav {
  min-width: 200px;
  background-color: #fafafa;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}

#a-canvas {
  width: 100%;
  min-height: 100%;
}

.map-row {
  position: relative;
}

.search-button {
  position: absolute;
  margin-top: 50px;
}
.park-button {
  position: absolute;
  margin-top: 90px;
}

.title {
  min-height: 100%;
}

.user-header-image {
  height: 40px;
  width: 40px;
  border-radius: 50%;

  background-color: mat-color($astrid-accent);
  color: mat-color($astrid-primary);

  //background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  //background-size: cover;
}


