@import '../../../../node_modules/@angular/material/_theming';
@import "../../../theme";

@include mat-core();

.sidenav-container {
  height: 100%;
}

.start-sidenav {
  min-width: 300px;
  max-width: 400px;
  background-color: #fafafa;
}

.start-sidenav-phone {
  width: 100%;
  background-color: #fafafa;
}

.end-sidenav {
  min-width: 200px;
  background-color: #fafafa;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}

#a-canvas {
  width: 100%;
  min-height: 100%;
}

.map-row {
  position: relative;
}

.tools-bar {
  position: fixed;
  left: 50%;
  bottom: 0px;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  background: #212121;
  border-radius: 23px;
}

.tool-button {
  background: mat-color($astrid-accent);
}

.button-div {
  padding: 3px;
}

.title {
  min-height: 100%;
}

.user-header-image {
  height: 40px;
  width: 40px;
  border-radius: 50%;

  background-color: mat-color($astrid-accent);
  color: mat-color($astrid-primary);

  //background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  //background-size: cover;
}

.units-list-contaner {
  width: 100%;
  margin-top: 10px;
}

.cursor-pointer {
  cursor: pointer;
}

.mn-cursor-pointer {
  cursor: pointer;
  margin: 1px;
}

.bordered-user-image {
  max-height: 150px;
  max-width: 250px;
  border: 1px solid #212121;
}

.footer-div {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #212121;
}
.footer-closed {
  display: block;
  overflow: hidden;
  line-height: 0;
}

.footer-opened {
  color: #8e928c;
}

.footer-arrow {
  cursor: pointer;
  position: absolute;
  top: -30px;
  left: calc(100vw / 2 + 85px);
  border-radius: 10px 10px 0 0;
  width: 35px;
  height: 30px;
  background-color: #212121;
  color: #fbc02d;
}
.a-ref {
  margin: 8px;
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
}

.a-ref:link {
  color: #fbc02d;
}
.a-ref:visited {
  color: #fbc02d;
}

.a-ref:focus {
  border-bottom: 1px solid;
}

.a-ref:hover {
  border-bottom: 1px solid;
  color: #fbc911;
}

.a-ref:active {
}
