<mat-card>
  <mat-card-content>
    <div fxLayout="column">
      <div fxLayout="row wrap">
        <ngx-gallery class="border" [options]="galleryOptions"
                     [images]="image">
        </ngx-gallery>
        <div class="m-3">
          <h6><b>{{unit.model}}</b></h6>
          <div>&bull;Id: {{unit.id}}</div>
          <div>&bull;Тип: {{unit.type}}</div>
          <div>&bull;Виден арендаторам: {{unit.enabled}}</div>
          <div>&bull;Оплачен: {{unit.paid ? 'да' : 'нет'}}</div>
          <div>&bull;Дата создания: {{(unit.createdOn !==null) ?
            (getDate(unit.createdOn) | date: 'dd-MM-yyyy'): '-'}}
          </div>
          <div>&bull;Дата последнего редактирования: {{(unit.lastUpdate !==null) ?
            (getDate(unit.lastUpdate) | date: 'dd-MM-yyyy'): '-'}}
          </div>
          <div>&bull;Оплачен до: {{(unit.paidUntil !==null) ?
            (getDate(unit.paidUntil) | date: 'dd-MM-yyyy'): '-'}}
          </div>
          <div>&bull;Владелец: {{unit.ouner}}</div>
          <div>&bull;Количество опций: {{unit.options.length}}</div>
        </div>
      </div>

      <div fxLayout="row wrap" fxLayoutAlign="space-between center">
        <div fxLayout="row" fxFlex fxLayoutAlign="end center">
          <button mat-raised-button="" class="m-2"
                  (click)="onDeleteUnit()" tabindex="-1">Удалить</button>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="end center">
          <button mat-raised-button="" class="m-2" (click)="onEdit()"
                  tabindex="-1">Редактировать</button>
          <button mat-raised-button="" class="m-2" (click)="onCancel()"
                  color="accent" tabindex="-1">Закрыть
          </button>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
