<div mat-dialog-content>
  <form [formGroup]="updateForm" class="form-group-size" (ngSubmit)="onSubmit()">
    <fieldset>
      <legend>Личные данные</legend>
      <!--Имя-->
      <mat-form-field class="form-field-size">
        <input matInput placeholder="Имя" formControlName="firstName" required>
        <mat-error *ngIf="submitted && f.firstName.hasError('required')">
          введите свое имя
        </mat-error>
      </mat-form-field>
      <!--Фамилия-->
      <mat-form-field class="form-field-size">
        <input matInput placeholder="Фамилия" formControlName="lastName">
      </mat-form-field>
    </fieldset>

    <fieldset>
      <legend>Контактные данные</legend>
      <!--Электронный адрес-->
      <mat-form-field class="form-field-size">
        <input matInput placeholder="Электронный адрес" formControlName="login">
      </mat-form-field>
      <!--Номер телефона-->
      <mat-form-field class="form-field-size">
        <input matInput autocomplete="phone" placeholder="Телефон" formControlName="phoneNumber">
        <mat-error *ngIf="(f.phoneNumber.hasError('pattern'))">
          ввод некоректен
        </mat-error>
      </mat-form-field>
    </fieldset>

    <fieldset>
      <legend>Пароль</legend>
      <a mat-button (click)="onChangePass()">Изменить пароль</a>
    </fieldset>

    <fieldset>
      <legend>Удалить аккаунт</legend>
      <a mat-button (click)="onDeleteAc()">Удалить аккаунт</a>
    </fieldset>
  </form>
</div>
<div mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Отмена</button>
  <button mat-raised-button color="accent" (click)="onSubmit()"
          [disabled]="loading">Сохранить
  </button>
</div>
