<div class="searchDiv" fxLayout="column">
  <div>
    <form (submit)="search()">
      <!--общий поиск-->
      <mat-form-field fxFlex>
        <div fxLayout="row" fxLayoutAlign="space-between end">
          <input #autoCompleteInput type="text" aria-label="Model"
                 matInput [formControl]="searchCtrl" [matAutocomplete]="searchCmplt">
          <button class="button-color"
                  type="button" matTooltip="Искать" tabindex="-1"
                  matTooltipPosition="above"
                  mat-icon-button type="submit">
            <mat-icon aria-label="Search icon">search</mat-icon>
          </button>
        </div>
        <mat-autocomplete #searchCmplt="matAutocomplete" (optionSelected)="search()">
          <mat-option *ngFor="let opt of searchOptions" [value]="opt">
            {{opt}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
  </div>
  <div>
    <div fxLayout="column" fxLayoutAlign=" stretch">
      <div fxLayout="row" fxLayoutAlign="center center">
        <button mat-raised-button="" fxFlex="" tabindex="-1" (click)="openFilters()"
                matTooltip="Редактировать фильтр поиска"
                matTooltipPosition="above">Фильтр
        </button>
        <button mat-raised-button="" tabindex="-1" (click)="clearFilters()"
                class="ml-1" matTooltip="Очистить фильтр"
                *ngIf="searchService.unitTypeFilterOption.size || searchService.unitBrandFilterOption.size
                || searchService.unitModelFilterOption.size" matTooltipPosition="above">
          <mat-icon aria-label="Search icon">clear</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="mt-3" *ngIf="((!searchService.isThereResult) && (searchService.isThereResult !== undefined))">
    Нет результатов. Попробуйте расширить зону поиска.
  </div>
  <div class="filtered-units-list-container" *ngIf="FilteredUnitsListTableComponent
   && searchService.searchUnits &&
   ((searchService?.filteredAllUnits | async)?.length>0)">
    <ng-container *ngComponentOutlet="FilteredUnitsListTableComponent"></ng-container>
  </div>
  <div class="filtered-users-list-container" *ngIf="FilteredUsersListTableComponent
   && !searchService.searchUnits &&
   ((searchService?.filteredUsers | async)?.length>0)">
    <ng-container *ngComponentOutlet="FilteredUsersListTableComponent"></ng-container>
  </div>
</div>
