/* You can add global styles to this file, and also import other style images */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
*{
  margin:0;
  padding:0;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#absolute_component{
  min-width: 100%;
  min-height: 100%;
  position: absolute;
}
.office_marker {
  border: none;
  cursor: pointer;
  height: 45px;
  width: 30px;
  background-image: url(assets/icons/office.png);
  background-color: rgba(0, 0, 0, 0);
}
.private_unit_marker_out {
  height: 17px;
  width: 17px;
  //background-image: url(assets/icons/private_unit.png);
  border-radius: 50%;
  background-color: rgb(33, 33, 33);
  position: relative;
}
.private_unit_marker_in_active {
  border-radius: 50%;
  background-color: #fbc02d;
  top: 15%; left:15%;
  width:70%;
  height:70%;
  position: relative;
}
.private_unit_marker_in_passive {
  border-radius: 50%;
  background-color: #c2c3c2;
  top: 15%; left:15%;
  width:70%;
  height:70%;
  position: relative;
}
.own_user_rectangle{
  display: block;
  color: #fbc02d;
  text-align: center;
  vertical-align: middle;
  width:20px;
  height:20px;
  border: 1px solid #fbc02d;
  border-radius: 20%;
  background-color: #212121;
}
.unit_marker_in_park {
  border-radius: 50%;
  background-color: #0bc714;
  border-color: #212121;
  border-style: solid;
  border-width: medium;
  margin: 1px;
  width:11px;
  height:11px;
  float: left;
}
.unit_marker_in_park_etc {
  border-radius: 50%;
  background-color: #0bc714;
  border-color: #212121;
  border-style: solid;
  border-width: medium;
  margin: 1px;
  width:2px;
  height:2px;
  float: left;
}

button:focus, button:active:focus, button.active:focus {
  outline: none !important;
  outline-style: none !important;
}
