/* You can add global styles to this file, and also import other style images */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
*{
  margin:0;
  padding:0;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#absolute_component{
  min-width: 100%;
  min-height: 100%;
  position: absolute;
}
.office_marker {
  border: none;
  cursor: pointer;
  height: 45px;
  width: 30px;
  background-image: url(assets/icons/office.png);
  background-color: rgba(0, 0, 0, 0);
}
.private_unit_marker_out {
  cursor: pointer;
  height: 12px;
  width: 12px;
  //background-image: url(assets/icons/private_unit.png);
  border-radius: 50%;
  background-color: rgb(33, 33, 33);
  position: relative;
}
.private_unit_marker_in {
  border-radius: 50%;
  background-color: #fbc02d;
  top: 15%; left:15%;
  width:70%;
  height:70%;
  position: relative;
}
