<div>
  <mat-card class="m-2">
    <mat-card-content>
      <section>
        <form [formGroup]="fileForm" novalidate (ngSubmit)="onSubmit()">
          <input type="file" multiple="multiple" (change)="onFileChange2($event)"
                 webkitdirectory mozdirectory msdirectory odirectory directory/>
          <button mat-raised-button="" class="m-1" color="accent" type="submit">
            Save to File
          </button>
          <button mat-raised-button="" class="m-1" color="accent" (click)="saveToServer()">
            Save To Server
          </button>
          <div>
            <mat-slide-toggle [formControl]="downloadFromServer" (change)="getJson()">
              загрузить с сервера / из файла
            </mat-slide-toggle>
          </div>
        </form>
        <form fxLayout="column">
          <!--<mat-form-field fxFlex="">-->
            <!--<mat-select panelClass="panel-for-unitslist" [formControl]="selectedAssignment"-->
                        <!--name="assignment" (selectionChange)="getUnitsTypeList()"-->
                        <!--placeholder="Группа по виду работ">-->
              <!--<mat-option *ngFor="let assignment of unitsTabList" [value]="assignment.assignmentname">-->
                <!--{{assignment.assignmentname}}-->
              <!--</mat-option>-->
            <!--</mat-select>-->
          <!--</mat-form-field>-->
          <mat-form-field>
            <mat-select [formControl]="selectedType" placeholder="Тип техники"
                        panelClass="panel-for-unitslist" (selectionChange)="getUnitsBrandList()">
              <mat-option *ngFor="let type of unitsTypeList" [value]="type.typename">
                {{type.typename}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-select [formControl]="selectedBrand" name="brand" placeholder="Марка производителя"
                        panelClass="panel-for-unitslist" (selectionChange)="getUnitsModeldList()">
              <mat-option *ngFor="let brand of unitsBrand.brandsmap | keyvalue" [value]="brand.value.brandname">
                {{brand.key}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-select [formControl]="selectedModel" name="model" placeholder="Модель"
                        panelClass="panel-for-unitslist">
              <mat-option *ngFor="let model of unitsModel.models" [value]="model">
                {{model.modelname}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </form>
      </section>
    </mat-card-content>
  </mat-card>

  <mat-card class="m-2">
    <mat-card-title class="h5">Перенос техники в новый формат</mat-card-title>
    <mat-card-content>
      <div class="mat-elevation-z6" fxLayout="row">
        <div>
          <table class="units-list-in-admin-comnent" mat-table [dataSource]="dataSource">

            <ng-container matColumnDef="Старая база">
              <th mat-header-cell *matHeaderCellDef >Старая база</th>
              <td mat-cell *matCellDef="let assignment" fxLayout="row" fxLayoutAlign="space-between center">

                {{assignment.assignmentname}}
                <table>
                  <ng-container *ngFor="let type of assignment.types | keyvalue">
                    <tr>
                      <td>
                        {{type.key}}
                        <button #editUnitLocation
                                type="button" matTooltip="местоположение на карте" tabindex="-1"
                                matTooltipPosition="above" aria-label="Toggle edit unit location"
                                mat-icon-button (click)="transmit(assignment, type)">
                          <mat-icon aria-label="Edit toggle icon">arrow_forward</mat-icon>
                        </button>
                      </td>
                    </tr>
                  </ng-container>
                </table>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>

        <!--Second Table-->
        <div>
          <table class="units-list-in-admin-comnent" mat-table [dataSource]="dataSourceNew">

            <ng-container matColumnDef="Новая база">
              <th mat-header-cell *matHeaderCellDef>Новая база</th>
              <td mat-cell *matCellDef="let type;" fxLayout="row" fxLayoutAlign="space-between center">

                {{type?.typename}}
                <table>
                  <ng-container *ngFor="let brand of type?.brands | keyvalue">
                    <tr>
                      <td>
                        {{brand?.key + ' ' + brand.value?.models.length}}
                      </td>
                    </tr>
                  </ng-container>
                </table>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumnsNew"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsNew;"
                [ngClass]="{'highlight': selectedRowNewTable == row.typename}"
                (click)="selectedRowNewTable = row.typename"></tr>
          </table>
        </div>
      </div>
      <button mat-raised-button="" class="m-1" color="accent"
              (click)="saveToFile(unitsTypeList, 'newlist')">
        Save to File
      </button>
    </mat-card-content>
  </mat-card>

  <mat-card class="m-2">
    <mat-card-title class="h5">Добавление роли</mat-card-title>
    <mat-card-content>
      <form [formGroup]="forceForm">
        <mat-form-field>
          <input type="text" matInput formControlName="usernameCtrl" placeholder="username">
        </mat-form-field>
        <mat-form-field class="m-2">
          <input type="text" matInput formControlName="roleCtrl" placeholder="role">
        </mat-form-field>
        <button mat-raised-button="" class="m-2" color="accent" (click)="getAdminForce()">
          +
        </button>
        <button mat-raised-button="" color="accent" (click)="untieAdminForce()">
          -
        </button>
      </form>
      <label class="text-info">{{forceUnswer}}</label>
    </mat-card-content>
  </mat-card>
</div>
